<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @breastfeeding.quantity %>
</p>

<p>
  <strong>Feeding time:</strong>
  <%= @breastfeeding.feeding_time %>
</p>

<%= link_to 'Edit', edit_breastfeeding_path(@breastfeeding) %> |
<%= link_to 'Back', breastfeedings_path %>
